<div>
  <div class="">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ciudades</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="FormObjet">
          <div class="row text-start">
            <div class="col-12">
              <!-- Estado -->
              <div class="form-group">
                <label for="state" class="form-label">Estado:</label>
                <select
                  class="form-select"
                  id="state"
                  placeholder="io"
                  formControlName="idFather"
                  [(ngModel)]="idStateSelected"
                >
                  <option [ngValue]="0">Todos</option>
                  <option [ngValue]="state.id" *ngFor="let state of lstStates">{{state.description}}</option>
                </select>
                <div class="text-danger">
                  <div *ngIf="FormObjet.controls['idFather'].invalid">El estado es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <!-- Estado -->
              <div class="form-group">
                <label for="state" class="form-label">Ciudad:</label>
                <select
                  class="form-select"
                  id="state"
                  placeholder="io"
                  formControlName="idCity"
                  [(ngModel)]="objCatalog.idCity"
                >
                  <option [ngValue]="city.id" *ngFor="let city of lstCities">{{city.description}}</option>
                </select>
                <div class="text-danger">
                  <div *ngIf="FormObjet.controls['idCity'].invalid">El estado es requerido</div>
                </div>
              </div>
            </div>
          </div>
          <!-- Descripción -->
          <div class="row mt-3 text-start">
            <div class="col-12">
              <div class="form-group">
                <label for="city" class="form-label">Colonia:</label>
                <textarea
                  formControlName="description"
                  id="city"
                  [(ngModel)]="objCatalog.description"
                  class="form-control"
                  rows="1"
                  placeholder="Colonia"
                  maxlength="50"
                ></textarea>
                <div class="text-danger">
                  <div *ngIf="FormObjet.controls['description'].invalid">La colonia es requerida.</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="activeModal.dismiss('Cross click')"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
      </div>
    </div>
  </div>
</div>
