<div #container class="table-wrapper">
  <span class="float-end mx-4 my-4">
    <button class="btn btn-primary hiddenText" (click)="add()">
      <mat-icon class="pt-1">add</mat-icon>
      <span>Nuevo registro</span>
    </button>
  </span>
  <table mat-table [dataSource]="dataSource" matSort class="w-100">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let city">{{ city.id }}</td>
    </ng-container>

    <!-- Desc Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
      <td mat-cell *matCellDef="let city">
        <a [routerLink]="['/properties', city.id]" class="property-name">{{ city.city }}</a>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let city">
        <button mat-icon-button color="primary" matTooltip="Editar ciudad" (click)="edit(city)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="remove(city)" matTooltip="Eliminar" class="remove">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let city; columns: displayedColumns"></tr>
  </table>
  <p *ngIf="dataSource?.data?.length === 0" class="py-5 mb-0 text-center">No data available</p>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
